body{}
nav{}

.bg-green{
	background-color: #01a3a4;
}

.navbar-light .navbar-brand{
	color: white;
}

button > .button > .btn-img{
	width: 150px;
}

button > span .menu-text{
		font-size: 1 rem;
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
	.carousel .carousel-item img {
		height: 150px;
	}

	.btn-menu button{
		margin-right: 2px;
	}

	button > .btn .btn-lg > span {
		font-size: 0 rem;
	}

	.small-box > .inner > h3{
		font-size: 18px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.carousel .carousel-item img {
		height: 250px;
	}

	button > .button > .btn-img img{
		/*width: 250px;*/
	}

	.btn-menu button{
		margin-right: 6px;
	}

	button > span .menu-text{
		font-size: 1 rem;
	}
}